body{

	margin: auto;
}

/* -- Header -- */
#scroll{
	position: fixed;
	z-index: 1000;
}

header{
	left: 0;
    top: 0;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
}

header img{
	margin:auto;
	display: inline-block;
	vertical-align: top;
}

header nav{
	display: inline-block;
}

header nav ul{
	list-style-type: none;
	margin: 0;
	text-align: center;
}

header nav ul li{
	float: left;
}

header nav a{
	line-height:78px;
	padding-left:20px;
	padding-right:20px;
	display: block;
	color: #00aebd;
	font-weight: bold;
	text-decoration: none;
}

header nav a:hover{
	color: #FFFFFF;
	background-color: #e4e6e9;
}

/* -----------------------------
			Div elements 
	---------------------------- */

#banner{
	margin: auto;
	width:100%;
	background-color: #e4e6e9;
	position: relative;
}

#banner img{
	height: 700px;
	vertical-align: bottom;
}

#banner-quote{
	width: 20%;
	position: absolute;
	top: 50%;
	right: 10%;
	color: #159BA0;
}

/* div who */

#who{
	padding-top: 50px;
	margin: auto;
	width: 70%;
	text-align: center;
}

#who-intro{
	margin: auto;
	width: 60%;
}

#who ul{
	list-style-type: none;
	
}

#who ul li{
	display: inline-block;
	width: 32%;
	text-align: left;
}

#who li img{
	width: 90%;
	height: auto;
}

#who a{
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border: 2px solid #00AEBD;
	color: #00AEBD;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

#temoignage{
	height: 700px;
	
	text-align: center;
	
	background-color: #e4e6e9;
	background-size: auto 700px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(src/temoignage-back.png);
}

#inner-temoignage{
	width: 60%;
	margin: auto;
}

#citation{
	font-size: 1.8em;
	color: #86CFCD;
}

#nom{
	font-size: 2em;
	margin:0;
	color: #005169;
}

#fonction{
	margin:0;
	color: #005169;
}

/* div News actualités */

#news{
	padding-top: 50px;
	margin: auto;
	width: 70%;
}

#news-intro{
	margin: auto;
	margin-bottom: 30px;
	width: 60%;
	text-align: center;
}

#slideshow{
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	white-space: nowrap; /* Pas de carriage return !!!!!!!*/
	height: 500px;
}

.box{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	width: 30%;
	height: 300px;
	vertical-align: top;
	text-align: left;
	white-space: normal;
}

.event-image{
	width: 90%;
	height: auto;
}

.event-date{
	margin: 0;
	font-size: large;
	color: #005169;
}

.event-title{
	margin-top: 0;
	font-size: x-large;
	color: #00aebd;
}

.box a{
	display: inline-block;
	padding: 5px;
	border: 2px solid #00AEBD;
	color: #00AEBD;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

#navigator{
	margin: auto;
	width: 20%;
	text-align: center;
}

#navigator a{
	display: inline-block;
}

#navigator a:hover{
	background-color: #00aebd;
}

#navigator img{
	height: 70px;
}

/* div forum */

#forum{
	padding-top: 50px;
	margin: auto;
	text-align: center;
	background-color: #491767;
	position: relative;
}

#forum img{
	vertical-align: bottom;
}

#countdown{
	width: 25%;
	position: absolute;
	top: 25%;
	right: 15%;
}

#countdown h1,h2{
	color: #00AEBD;
}

#countdown p{
	color: white;
}

#about-forum{
	padding-top: 50px;
	width: 70%;
	margin: auto;
	text-align: center;
}

#forum-contact{
	margin: auto;
	width: 85%;
	text-align: center;
	padding-bottom: 50px;
}

.nanana{
	display: inline-block;
	width: 30%;
}

.nanana img{
	width: 100%;
}

/* div contact */

#contact{
	width: 70%;
	margin: auto;
	padding-top: 50px;
	background-color: #F5F6F7;
}

#contact h2{
	color: #00AEBD;
}

#contact-head{
	text-align: center;
}

#info{
	width: 50%;
	display: inline-block;
}

#info ul{
	list-style-type: none;
}

#info ul li{
	display: block;
	width: 100%;
	margin: 2px;
}

#info input{
	width: 80%;
}

#info textarea{
	width: 80%;
	height: 300px;
	resize: none;
}

#coordonnees{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

/* div footer */

#footer{
	padding: 10px;
	background-color: #00AEBD;
	color: #FFFFFF;
}